.img{
 background-image: url("../img/cupcake-icing-wallpaper.jpg");
 height: 750px;
 background-position: center;
 background-size: cover;
}
.background{
    background-color:whitesmoke;
    
}

.hover {
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
.hover:hover {
    background-color: #95BADA ;
    color: whitesmoke;
}